@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/*---header----------------------------------------------------------*/
.header {
 /* 30% of the viewport height */
  text-align: center;
  width: 100%;
  
}
.navbar-brand {
  font-size: 30px;
 font-weight: bold;
}
.navbar-nav {
  margin-left: auto;
  margin-top: 0;
 font-size: 20px;
 font-weight: bold;
}


/*---main----------------------------------------------------------*/
container{
    display: flex;
    flex-direction: column; /* Arrange divs vertically */
    flex-grow: 1; /* Allow the main content to take the remaining height */
    overflow-y: auto;
   /* Ensure the main content does not overlap the header */
  }
    
div {
    width: 100%;
    position: relative;
    margin: 20px 0; /* Add margin for spacing between images */
    text-align: center; /* Center the text */
}
.name {
  margin: 100px 0 30px 0;
  font-family :'Courier New', Courier, monospace;
}


img {
    width: 100%; /* Make image width 80% of its container */
    height: auto; /* Let the height adjust to maintain aspect ratio */
    object-fit: cover; /* Ensure the image covers the div */
    object-position: center; /* Center the image if it doesn't perfectly fit */
    margin: 0 auto; /* Center the image horizontally */
  
    filter: grayscale(100%); /* Start with grayscale */
    transition: filter 0.3s ease; /* Smooth transition */
  }

img:hover {
  filter: grayscale(0%); /* Remove grayscale on hover */
}



/*그리드*/
.grid-container{
  display: grid;
  grid-template-columns: repeat(3, minmax(100px,auto));
  grid-template-rows: repeat(3, minmax(100px,auto));
  row-gap: 10px;
  column-gap: 10px;
  align-items: start; 
}

.grid-container img {
  filter: grayscale(0%);
  /* border: 2px solid transparent; */
  transition: border 0.3s ease;
}

.grid-container_f{
  display: grid;
  grid-template-columns: repeat(4, minmax(100px,auto));
  grid-template-rows: repeat(4, minmax(100px,auto));
  row-gap: 10px;
  column-gap: 10px;
  align-items: start; 
}

.grid-container_f img {
  filter: grayscale(0%);
}


.grid-container img:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5); /* Adds a soft shadow */
  transition: box-shadow 0.3s ease; /* Smooth transition */
}

.grid-container_f img:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5); /* Adds a soft shadow */
  transition: box-shadow 0.3s ease; /* Smooth transition */
}

/* name_font */
.ephesis-regular {
  font-family: "Ephesis", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
}


/*---footer----------------------------------------------------------*/
.footer {
  height: 5%; /* 5% of the viewport height */
  background-color: white;
  color: black;
  text-align: center;
  padding: 20px 0;
  margin-top: 200px;
}

.contact {
  display: inline-block;
}

.contact span {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: xx-large;
  float:left;
}

.contact p {
  float:center;
  margin-top: 20px;
}
.menuopen {
 display: flex;
 justify-content: space-evenly;

}
.menuopen div {
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}